<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.ModbusDataMapper">
    <!-- 结果集映射：数据库下划线→实体驼峰 -->
    <resultMap id="ModbusDataResultMap" type="com.ruoyi.system.domain.ModbusData">
        <id column="id" property="id"/>
        <result column="slave_id" property="slaveId"/>
        <result column="temperature" property="temperature"/>
        <result column="humidity" property="humidity"/>
        <result column="read_time" property="readTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.ruoyi.system.domain.ModbusData">
        INSERT INTO modbus_data (slave_id, temperature, humidity, read_time)
        VALUES (#{slaveId}, #{temperature}, #{humidity}, #{readTime})
    </insert>

    <!-- 按时间范围查询历史数据 -->
    <select id="selectHistoryDataByTimeRange" resultMap="ModbusDataResultMap">
        SELECT id, slave_id, temperature, humidity, read_time
        FROM modbus_data
        <where>
            <if test="startTime != null">read_time &gt;= #{startTime}</if>
            <if test="endTime != null">AND read_time &lt;= #{endTime}</if>
        <!--新增slaveID查询！-->
            <if test="slaveId != null">and slave_id = #{slaveId}</if>
        </where>
        <!--新增slaveid排序，确保返回数据有序-->
        ORDER BY read_time DESC, slave_id ASC
    </select>

    <!--查询所有设备的最新数据 -->
    <select id="selectLatestDataByAllSlaveIds" resultMap="ModbusDataResultMap">
        SELECT t1.id, t1.slave_id, t1.temperature, t1.humidity, t1.read_time
        FROM modbus_data t1
                 INNER JOIN (
            -- 子查询：获取每个设备的最新采集时间
            SELECT slave_id, MAX(read_time) AS max_time
            FROM modbus_data
            GROUP BY slave_id
        ) t2 ON t1.slave_id = t2.slave_id AND t1.read_time = t2.max_time
        ORDER BY t1.slave_id ASC;  -- 按设备ID排序
    </select>

</mapper>